.form {
  display: flex;
  flex-direction: column;
  max-width: 385px;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  max-width: 385px;
}

.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: block;
}

.form__input {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-radius: 4px;
  display: block;
  height: 60px;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 32px;
  border: 1px solid #838383;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  height: 60px;
  width: 100%;
  background-color: #2f80ed;
  color: #ffffff;
  margin-bottom: 32px;
  padding: 0;
  transition: opacity 0.8s ease-out 0s;
  border: none;
}

.form__button:hover {
  opacity: 70%;
}

.form__fieldset_type_checkbox {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0 auto;
}

.form__checkbox {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
