.reservation {
  background: #d9e7ff url("../images/background_reservation.svg") no-repeat
    center / cover;
  padding: 100px 80px 120px 80px;
  box-sizing: border-box;
}

.reservation__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 0 80px;
  text-align: center;
}

.reservation__form {
  margin: 0 auto;
  width: 385px;
}
